* {
	animation: fadeIn ease 1s;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

a {
	color: gray;
}

.container {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 3%;
	margin: 1%;
	border-radius: 2%;
}
